**Chad Tsikalas (cpt268)**

**Question #1:**

In [1]:
2+5 #this is addition

7

In [2]:
2 + 5 #this is addition w/ whitespace

7

In [3]:
2*5 #multiplication

10

In [4]:
2/5 #division

0.4

In [6]:
2**5 #2 to the 5th power

32

**Question #2:**

In [8]:
x = 7
x = x + 3

The value of x will be 10. The statement evaluates from right to left and then assigns the right side of the equation to the variable. In this example, it will evaluate 7 + 3 = 10 and then assign 10 to x.

In [9]:
x

10

**Question #3:**

In [10]:
x = 3
y = x
x = 10

Y is equal to 3 because it was assigned that value in the second line. The reassignment of X does not affect Y because it is assigned to 3, not tied to x. X is equal to 10.

In [14]:
y

3

In [15]:
x

10

**Question #4:**

In [18]:
x = 3
x = x/2
y = 'abc'
z = y + y
print (x, z)

1.5 abcabc

The code runs without error and produces 1.5 abcabc. Python can concatenate strings, so y + y is valid and concatenates the value of y, 'abc'.

**Question #5:**

In [19]:
x = 3
x = x/2
y = 'abc'
z = x+y
print(x,z)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

The code returns an error because python cannot add a number (float) and a word (string) together.

**Question #6:**

In [20]:
x = 3
y = 24
z = y/x
print(x,y,z,sep=' | ')

3 | 24 | 8.0

**Question #7:**

In [21]:
x = 3
y = '24'
z = y / x
print(x,z)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

The code returns an error because y is a string, not a number. Even though it holds '24', the number is in parentheses which makes it a string. Therefore, it cannot divide 3 by a string.

**Question #8:**

In [22]:
x = "I am a #string" #Whoa, a string

The code runs without error. It does not output "#Whoa, a string" because that is a note and not part of x

In [23]:
x

'I am a #string'

**Question #9:**

In [24]:
x = [1,2,3]
y = [42, 43]
z = x + y
print(z)

[1, 2, 3, 42, 43]

The code runs without error and concatenates the two lists.

**Question #10:**

In [25]:
x = [1,2,3]
y = 42
z = x + y

TypeError: can only concatenate list (not "int") to list

Returns an error beacuse it cannot concatenate two different data types (int and list).

**Question #11:**

In [26]:
x1 = 12
x2 = 12.0
x3 = '12.0'
x4 = [12]
x5 = [12, 12.0, '12.0']

x1 = int
x2 = float
x3 = str
x4 = list
x5 = list

**Question #12:**

In [38]:
type(42) #int
type(42.0) #float
type('42.0') #str
type("""42.0""") #str
type([1,2]) #list
type([1]+[2]) #list, concatenating two single value lists
type(1 + 2) #int, adding two ints to create an int
type(print) #builtin_function_or_method, a python method that is built into the software

builtin_function_or_method

**Question #13:**

In [39]:
type(float(str(int('1234'))))

float

A string is created of '1234', that is then converted to an int because it satisfies int properties. It is then converted back to a string, and then to a float because it satisfies float properties.

**Question #14:**

In [46]:
type(int(float('12.34')))

int

A string of '12.34' is created and converted to a float. Then, it is converted to an int. Because ints cannot have decimals, it is changed to just 12 and type int.

**Question #15:**

In [52]:
len([1234]) #1, it is a list with only 1 value
len("1234") #4, it is a string with 4 characters
len(1234) #error, int has no length function

TypeError: object of type 'int' has no len()

**Question #16:**

x = [] is a list with length of 0.

**Question #17:**

In [57]:
x = 'abcde'
list(x)

['a', 'b', 'c', 'd', 'e']

Comma separated list of each character in the original string.

**Question #18:**

In [60]:
x = 1234
float(x)
y = str(x)
list(y)

['1', '2', '3', '4']

**Question #19:**

In [64]:
x = "luke, I am your father"
y = str.title(x)
print(y)

Luke, I Am Your Father

**Question #20:**

In [71]:
x = "How many characters and words are in this string?"
y = len(x)
print('x has',y,'characters')
z = list(x)
a = x.split(' ')
print(a)
b = len(a)
print('x has',b,'words')

x has 49 characters
['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']
x has 9 words