**Chad P. Tsikalas (cpt268)**

**Code Practice 2
**

**Question 1:**

In [3]:
x = [1,2,3]
y = 'bootcamp'
z = x + y

TypeError: can only concatenate list (not "str") to list

The code returns an error because it is trying to concatenate two different data types; string and list.

**Question 2:**

type() returns the type, len() returns the number of elements

In [6]:
print(type(x))
print(type(y))
print(len(x))
print(len(y))

<class 'list'>
<class 'str'>
3
8

**Question 3:**

int - integer with no decimals
string - quotation marks
float - decimal number
string - quotation marks
boolean - equality operator
boolean - equality operator
list - sqaure brackets
tuple - parentheses
dict - curly brackets

**Question 4:**

1 >= 0, true
1 >= 1, true
1 > 1, false
1 == 1, true
1 == 1.0, true
'Spencer' == "Spencer", true
2**3 > 3**2, false
1 >= 0 or 1 <= 2, true
1 >= 0 and 1 <=2, true

**Question 5:**

In [18]:
if 2>1
    print('Yes, 2 is still greater than 1')

SyntaxError: invalid syntax (<ipython-input-18-07a70d6c9420>, line 1)

Error because the "if statement" is missing a colon

**Question 6:**

In [21]:
if True:
    print('on the one hand')
else:
    print('but on the other hand')

on the one hand

The if-statement is automatically assigned to True so the first line prints. If the True is changed to false, it will activate the else statement. If the statement is "not True", then it will also activate the else statement.

**Question 7:**

"Chase", cond is true therefore it will assign x to "Chase" and print "Chase

**Question 8:**

In [1]:
x = [1,2,3,4]
y = ['x','y','z']
if len(x) > len(y):
    print('x has more')
else:
    print ('y has at least as many')

x has more

**Question 9:**

Slicing is the process of extracting parts of a data type (str, list, etc.) using bracket notation and choosing which elements or parts to keep

**Question 10:**

In [4]:
x = [1,2,3,4,5]
x[0]

1

In [5]:
x[-1]

5

In [6]:
x[:-1]

[1, 2, 3, 4]

**Question 11:**

In [7]:
sentence = 'This is a sentence; please slice it.'

In [9]:
sent_split_list = sentence.split()

In [10]:
count = 0
while count < len(sent_split_list):
    print(sent_split_list[count])
    count = count + 1

This
is
a
sentence;
please
slice
it.

**Question 12:**

In [28]:
x = [1,2,'a','b','fast','slow',3,'Raghu','Liuren',10]

In [29]:
x[0]

1

In [30]:
x[-1]

10

In [31]:
x[3:7]

['b', 'fast', 'slow', 3]

**Question 13**

In [32]:
for item in x:
    print(item)

1
2
a
b
fast
slow
3
Raghu
Liuren
10

**Question 14:**

In [33]:
for item in x:
    if type(item) == str:
        print(item)

a
b
fast
slow
Raghu
Liuren

**Question 15**

In [35]:
range?

range(3,12,2) would make a sequence of numbers from 3 to 12, taking a step of 2 each time. 3, 5, 7, 9, 11

In [39]:
u = list(range(3,12,2))
u

[3, 5, 7, 9, 11]

**Question 16**

In [41]:
three_multiples = list(range(0,30,3))
sum_of_mults = 0
for item in three_multiples:
    sum_of_mults = sum_of_mults + item
print(sum_of_mults)

135

**Question 17**

In [57]:
def pocket_change(pennies,nickels,dimes,quarters):
    addition = str(round(((pennies*.01)+(nickels*.05)+(dimes*.1)+(quarters*0.25)),2))
    return ("$"+addition)

In [58]:
pocket_change(1,2,3,4)

'$1.41'

**Question 18:**

In [70]:
def notsix(list):
    x = []
    for item in list:
        if str(item)[0] != '6':
            x.append(item)
    return x

In [71]:
zz = [1234,6783,6,4321,9876]
notsix(zz)

[1234, 4321, 9876]

**Question 19**

In [74]:
old_list = [1234, 6783, 6, 4321, 9876]
new_list = [x for x in old_list if str(x)[0] != '6']

This code is creating a new list of 'x's for every x in the old_list, as long as the number in old_list does not start with a 6.

**Queston 20:**

a. z is a dictionary
b. 1, 2, 3 are keys, 'one', 'two', 'three' are values
c. z.get(2)
d. keys provies a view on z's keys, while values provides    a view on z's values
e. makes z's keys into a list
f. make's z's values into a list
g. makes z's keys into a list

In [79]:
z = {1:'one', 2:'two', 3:'three'}
z.keys()

dict_keys([1, 2, 3])

In [80]:
z.values()

dict_values(['one', 'two', 'three'])